

.index{
    font-family: costa,sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;

    background-image: url(https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); background-size: cover;
}
.notes{
    margin-top: 330px;
    font-family: costa,sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;

    background-image: url(https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80); background-size: cover;
}

/*Inheritance-target the body tag to change the font family and increase the font size to 18px*/

/*Replace the bullets from the list of hobbies with squares*/
ul {
    list-style-type: square;
    margin-right: 1300px;
}


/*Id selector - add an id my-image to your image and select the id in CSS to add a box-shadow with 0 horizontal and vertical placement, 2px of the blur, 1px of the spread and black colour*/
#my-image{
    box-shadow: 0px 2px 1px black;
    border-radius: 50%;
}


/*Select multiple elements - select both header and footer elements and add the same background colour*/
.index header, footer {
    background-color: rgb(88,129,85,0.3);
    margin-right: 1000px;
}

.notes header, footer {
    background-color: rgb(88,129,85,0.3);
    margin-right: 650px;
}

/*Class selector - add a class of site-title to the main heading of the site and select the class in CSS to change the colour of text of the heading*/
.site-title {
    color: #275330;
}



/*Remove the underline from the links/ Add a background and border to the links and Change the background colour on hover*/
a:link {
    text-decoration: none;
    background-color: rgb(246,229,141,0.8);
    border-bottom: solid;
    color: blue;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    background-color: rgb(240,147,43,0.8);
    border-bottom: none;
  }
  
  a:active {
    text-decoration: underline;
    background-color: rgb(240,147,43,0.8);
}


/*Using the nth-child selector - add a background to the odd list items in the hobby list*/
li:nth-child(odd) { 
    background-color: rgb(179,194,163,0.3);
}
